@import '../../styles/variables';

.navbarSpacer {
  height: $navbarHeight;
}


.heroImage {
  background-image: url('../../assets/images/3d-digital-landscape-with-space-sky-nebula.jpg');
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-position: center;
}