@import '../../styles/variables';
@import '../../styles/styles';


.heroImage {
  background-image: url('../../assets/images/sea-mills-and-clouds.jpg');
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-position: center;
}