@import '../../styles/variables';
@import '../../styles/styles';

.navbar {
  position: absolute;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  height: $navbarHeight;
  background-color:#084b54 ;
  a {
    color: white;
    width: 80px;
    font-size: 20px;
    height: $navbarHeight;
    line-height: $navbarHeight;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}


@media screen and (max-width: 768px) {

  .navbar {
    flex-direction: column;
    height: 100vh;
    width: max-content;
    justify-content: flex-start;
    padding: 0 5px;
  }
}